<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="css/loggedIn.css">
  <%- include('partials/head'); -%>
  </head>
  <body>
    <header>
      <%- include('partials/loggedHeader'); -%>
    </header>
    <main id="add">
      <section>

      </section>
    <!-- we gaan een simpele form maken om werking te testen, mochten we het houden dan komt de definitieve styling!! -->
      <section>
        <h1>Share your passion</h1>
        <span>Share your recipes with other Foodzen</span>
          <form action="dishAdded" method="post" id="addRecipeForm">
            <label for="image">Image</label>
            <input type="file" name="image" value="image" id="inputImg">

            <label for="title">What is your dish called?</label>
            <input type="text" name="title" value="">

            <label for="countries">What is the origin?</label>
              <select class="" name="countries" id="country">
                <% for(var i=0; i < countries.length; i++) { %>
                  <option name="countries" value="<%= countries[i].name %>"><%= countries[i].name %></option>
                <% } %>
              </select>

            <label for="people">For how many people?</label>
              <select class="" name="people" id="people">
                <option name="people" value="1">1</option>
                <option name="people" value="2">2</option>
                <option name="people" value="3">3</option>
                <option name="people" value="4">4</option>
                <option name="people" value="5">5</option>
                <option name="people" value="6">6</option>
              </select>



            <label for="ingredients" id="label">What are the ingredients?</label>
            <input type="text" name="ingredients" value="" ><br>
            <input type="text" name="ingredients" value="" /><br>
            <input type="text" name="ingredients" value="" id="label"><br>
            <button type="button" name="button" id="addBtn">More ingredients</button>

            <label for="duration">How long will it take?</label>
            <input type="number" name="duration" value="" step="1">
            <select id="duration" name="duration">
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
            </select>

            <label for="instructions">How it's made?</label>
            <textarea rows="4" cols="75" name="instructions"></textarea>

            <button type="submit" name="button">Share recipe!</button>

          </form>


      </section>
    </main>
    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
