<!doctype html>
<html lang="en">

<head>
  <!-- head -->
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/loggedIn.css">

  <%- include('partials/head'); -%>
</head>

<body>
  <%- include('partials/loggedHeader'); -%>
  <main class="profilePage">

    <!-- SECTION ONE -->
    <section>
        <h2 class="hiddenElements">profile title</h2>
        <h2>
            <%= title %>
        </h2>
    </section>

    <!-- SECTION TWO profile image-->
    <section>
        <h2 class="hiddenElements">show profile image</h2>
        <article id="showImage" class="result">
            <h2 class="hiddenElements">show profile image from the api</h2>
            <p>Random Image</p>
        </article>
        <button id="imageBtn">Choose a random img</button>
    </section>

    <!-- SECTION THREE -->
    <% profileData.forEach(function(profile){ %>
        <section>
            <h2 class="hiddenElements">information about the person</h2>
            <article>
                <h3>Name: <%= profile.name %>
                </h3>
                <!--<input type="text" id="inputName" name="name" value="<%= profile.name %>">-->
                
                <h3>Age: <%= profile.age %>
                </h3>
                <h3>Gender: <%= profile.gender %>
                </h3>
                <h3>Favorite dish: <%= profile.favorite %>
                </h3>

            </article>

            <section class="personalDescription">
                <h3>Personal description 
                </h3>
                
                <% descriptionAdd.forEach(function(desc){ %>
                    <p><%= desc.description %></p>
                    <% }) %>
                
                    <form action="/profiles/delete" method="post">
                <button class="bntStyleTwo">Delete description</button>
                </form>
            </section>

            <form action="/profiles/addDescr" method="post" id="bntDesc">
            <section class="textArticle">
                <label for="description">Add your Personal description</label>
                <textarea class="textProfile" name="description" required></textarea>
                <button class="bntStyleTwo">add new description</button>
            </section>
        </form>

            <article>
                <h2 class="hiddenElements">Setting option</h2>
                <ul>
                    <li>
                        <h3>Settings</h3>
                    </li>
                    <li><button id="settingBnt">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M12 21l-12-18h24z" />
                            </svg></button>
                    </li>
                </ul>
            </article>

            <article>
                <h2 class="hiddenElements">info about name en password</h2>
                <ul class="showSettingsMenu">
                    <li>
                        <h3>Username: <%= profile.name %>
                        </h3>
                    </li>
                    <li>
                        <h3>Password: <span>*********</span></h3>
                    </li>
                    <li><button class="editBntTwo">Edit</button></li>
                </ul>
            </article>
        </section>
        <% }) %>

</main>
    <!--footer-->
    <%- include('../views/partials/footer.ejs') %>
      <script src="js/profile.js"></script>
</body>

</html>