<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head.ejs') %>
    <link rel="stylesheet" href="css/loggedIn.css">
<body>
    <%- include('../views/partials/loggedHeader.ejs') %>
  <main id="dishes">
    <%- include('../views/partials/filterMenu.ejs') %>

       <% allDishes.forEach(function(dish){ %>
    <article>
          <div>
            <h2><%= allDishes.title %></h2>
            <h3>👤<%= allDishes.people %></h3>
          </div>
        <p><%=  allDishes.instructions %></p>

        <a href="/thedishes/<%= allDishes.title %>">Read More</a>
    </article>
    <% }) %>

</main>
<%- include('../views/partials/footer.ejs') %>
</body>
</html>
