<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head.ejs') %>
    <link rel="stylesheet" href="css/loggedIn.css">
<body>
    <%- include('../views/partials/header.ejs') %>
  <main id="dishes">
       <% dish.forEach(function(dish){ %>
    <article>
        <img src="<%= dish.image %>">
          <div>
            <h2><%= dish.name %></h2>
            <h3>👤<%= dish.persons %></h3>
          </div>

        <h3>@<%= dish.username %></h3>
        <h4><%= dish.dish %></h4>
        <p><%=  dish.description %></p>

        <a href="/thedishes/<%= dish.id %>">Read More</a>
    </article>
    <% }) %>


</main>
<%- include('../views/partials/footer.ejs') %>
</body>
</html>
